:root{
    --anyad: "kurva";
}

body{
    margin: 0;
    width: 100%;
    height: 1500px;
}

/* nav */
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background-color: yellow;
}

#filling{
    position: relative;
}

.nav_logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav_logo div p{
    font-size: 300%;
}

#nav_img{
    width: 35%;
    margin-left: 10%;
}

.nav_logo div:nth-child(2){
    margin-left: 5%;
}

.nav_options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 50%;
}

.nav_options p{
    font-size: 250%;
    margin-left: 5%;
    margin-right: 5%;
    transform: scale(100%);
    transition-duration: 0.3s;
}

.nav_options p:hover{
    cursor: pointer;
    transform: scale(120%);
    transition-duration: 0.3s;
}

a{
    text-decoration: none;
    color: unset;
}

section{
    width: 100%;
    height: 1500px;
}

.collapse{
    animation-name: collapsing;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.expand{
    animation-name: expanding;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.vanish{
    animation-name: vanish;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.appear{
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes collapsing{
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(50%);
    }
}

@keyframes expanding{
    0%{
        transform: scale(50%)
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes vanish{
    0%{
        opacity: 1;
    }
    70%{
        opacity: 0;
        display: none;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
        display: block;
    }
    100%{
        opacity: 1;
        display: block;
    }
}

/* fontok */
@font-face {
    font-family: "My Custom Font";
    src: url(../fonts/aAwalRamadhan.ttf) format("truetype");
}
p{ 
    margin: 0;
    font-family: "My Custom Font", Verdana, Tahoma;
}