/* hamburger menü fix */


:root{
    --anyad: "kurva";
}

body{
    position: relative;
    z-index: -2;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: lightblue url("../images/Dűne.webp") no-repeat fixed;
    
  
}

/* tartalom */
section{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    z-index: -1;
}

.cardgrid{
    flex: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.card{
    border-radius: 30px;
    height: 500px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: inset -2px -2px 10px black;


}

.courtain{
    box-sizing: border-box;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    position: absolute;
    background-image: url("../images/frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 70%;
    width: 100%;
    box-shadow: inset 10px 10px 20px black ;

    /* rgba(237,171,35); */

}

.card .ekcsölikep{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin: 0;
    height: 70%;
    background-image: url("../images/Somesz.webp");
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 150%;
    background-repeat: no-repeat;
    background-color: grey;
}

.card .cardtext{
    height: 10%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: inset;
    -webkit-box-shadow: 0px -5px 3px  rgba(237,171,35) ;
    -moz-box-shadow: 0px -5px 3px  rgba(237,171,35) ;
    display: flex;
    align-items: center;
}

.cardtext h1{
    font-size: 200%;
    margin:0;
    margin-left: 5%;
    background: -webkit-linear-gradient(#f30202, #8f1717);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}


.card .cardbutton{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}

.card .cardbutton button{
    color: white;
    height: 50%;
    width: 70%;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #17a2b8;
    text-align: center;
    margin: 0;
}

.card .cardbutton button:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 10px  rgba(0,0,0) ;
}

.card .cardbutton button h1{
    margin: 0;

}

.popup{
    height: 100%;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    background-color: rgba(43, 41, 41, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    justify-content: center;
    align-content: end;
}

.popup_window{
    height: 60%;
    width: 50%;
    border-radius: 5%;
    position: fixed;
    background-color: ghostwhite;
    backdrop-filter: blur(5px);
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tanarpopup{
    height: 100%;
    width: 100%;
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;

}

.tanarkep{
    flex: 50%;
    height: 100%;
    align-self: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tanarkep .courtain{
    position: absolute;
    background-image: url("../images/frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 50%;
    box-shadow: inset 10px 10px 20px black ;

    /* rgba(237,171,35); */
}

.tanarnev{
    justify-self: center;
    align-self: center;
}

#popup_ekcsölikep{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin: 0;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-color: grey;
}

.tanardata{
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tanardata h1{
    font-size: 150%;
    margin: 0;
}

.close{
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
}


.close:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 10px  rgba(0,0,0) ;
}


/* reszponzív */

/* telefon */
@media screen and (width <= 450px) {
    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }

    .collapse{
        animation-name: collapsing;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    
    .expand{
        animation-name: expanding;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    

    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }



    /*index*/

    /*támogatók*/
    section{
        margin-top: 100%;
    }

    .cardgrid{
        height: 50%;
    }

    .card{
        width: 270px;
    }

    .popup_window{
        height: 50%;
        width: 100%;
    }

}

/*tablet lófaszok*/
@media screen and (width > 450px) and (width <600px){    
    .vanish{
        animation-name: vanish;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }
    
    .appear{
        animation-name: appear;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }
    /* tartalom */

    /*index*/

    /*támogatók*/


    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }
    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }

    

    section{
        margin-top: 50%;
    }

    .cardgrid{
        height: 50%;
    }

    .card{
        width: 270px;
    }


}
/*smol laptop vagymittomén lófaszok*/
@media screen and (width > 600px) and (width < 1000px){
    nav{
        height: 25%;
    }

    .nav_img{
        margin: 0;
        width: 40%;
    }
    
    .nav_options{
        text-align: center;
        font-size: 60%;
        flex: 80%;
    }

    .nav_options p{
        margin: 0;
    }
    
    .nav_logo{
        flex: 70%;
    }

    .nav_logo div p{
        font-size: 200%;
    }

    .hamburgermenu{
        display: none;
    }

    .collapse{
        animation-name: collapsing;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .navcollapse{
        animation-name: navcollapsing;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    
    .expand{
        animation-name: expanding;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .navexpending{
        animation-name: navexpanding;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    
    .vanish{
        animation-name: vanish;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }
    
    .appear{
        animation-name: appear;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }


    @keyframes collapsing{
        0%{
            transform: scale(100%);
        }
        100%{
            transform: scale(40%);
        }
    }

    @keyframes navcollapsing {
        0%{
            height: 25%;
        }
        100%{
            height: 10%;
            opacity: 90%;

        }
    }
    
    @keyframes expanding{
        0%{
            transform: scale(40%)
        }
        100%{
            transform: scale(100%);
        }
    }

    @keyframes navexpanding{
        0%{
            height: 15%;
        }
        100%{
            height: 25%;
            opacity: 1;

        }
    }

    
    @keyframes vanish{
        0%{
            opacity: 1;
        }
        70%{
            opacity: 0;
            display: none;
        }
        100%{
            opacity: 0;
            display: none;
        }
    }
    
    @keyframes appear{
        0%{
            opacity: 0;
        }
        70%{
            opacity: 1;
            display: block;
        }
        100%{
            opacity: 1;
            display: block;
        }
    }

    /* tartalom */
    /*index*/

    /*tamogatok*/


    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }
    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }

    section{
        margin-top: 20%;
    }

    .cardgrid{
        height: 60%;
    }

    .card{
        width: 300px;
    }

}

/*decent méretek*/
@media screen and (width > 1000px) and (width < 1400px) {

    /*tartalom*/

    /*index*/

    /*tamogatok*/
    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }
    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }

    section{
        margin-top: 20%;
    }
    .cardgrid{
        height: 70%;
    }

    .card{
        width: 350px;
    }

}

/*gép*/
@media screen and (width> 1400px) {


    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }

    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }
}

@media screen and (width> 2000px) {


    .menuopen{
        animation-name: menuopen;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .menuclose{
        animation-name: menuclose;
        animation-duration: 0.2s;
        animation-fill-mode: both;
    }

    @keyframes menuopen {
        0%{
            z-index: 1;
            opacity: 0;
        }
        100%{
            z-index: 1;
            opacity: 1;
        }
    }

    @keyframes menuclose {
        0%{
            z-index: 1;
            opacity: 1;
        }
        100%{
            z-index: 0;
            opacity: 0;
        }
    }

    
    section{
        margin-top: 30%;
    }
    .cardgrid{
        height: 500%;
    }

    .card{
        width: 500px;
    }

}

/* fontok */
/* @font-face {
    font-family: "My Custom Font";
    src: url(../fonts/Shayan.ttf) format("truetype");
} */

p{ 
    margin: 0;
    font-family: "My Custom Font", Verdana, Tahoma;
}