:root{
    --anyad: "10";
}

body{
    margin: 0;
    width: 100%;
    height: 1500px;
}

/* nav */
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background-color: yellow;
}

#filling{
    width: 100%;
    height: 150px;
}

.nav_logo{
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 50%;
}

#nav_img{
    width: 35%;
    margin-left: 10%;
}

.nav_logo div:nth-child(2){
    margin-left: 5%;
}

.nav_options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 50%;
}

.nav_options div{
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 30px;
    background-color: red;
    border: 1px solid black;
}




/* fontok */
@font-face {
    font-family: "My Custom Font";
    src: url(fonts/aAwalRamadhan.ttf) format("truetype");
}
p{ 
    margin: 0;
    font-size: 200%;
    font-family: "My Custom Font", Verdana, Tahoma;
}