<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="shortcut icon" href="../static/images/arabok_icon.png" type="image/x-icon">
</head>
<body>
    <table id="admin_table">
        <tr id="thead">
            <td>ID</td>
            <td>Név</td>
            <td>Osztály</td>
            <td>Email</td>
            <td>Összeg</td>
            <td>Itemek</td>
            <td>Átadva</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="open_popup">Itemek</button></td>
            <td><input class="checkbox" type="checkbox" name="" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <button class="save">
        Mentes
    </button>
    <div class="popup">
        <table>
            <tr id="thead">
                <td>Megnevezés</td>
                <td>Mennyiség</td>
                <td>Méret</td>
            </tr>
        </table>
        <button class="close">Bezaras</button>
    </div>


    <script src="../static/script/script.js"></script>
</body>
</html>