<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="/css/admin.css")  }}'> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/arabok_icon.png') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            
            <li><a href="/admin/logs">Logs</a></li>
            <li><a href = "#" onclick="showCouponPopUp()">Coupons</a></li>
            <li><a href="/">Public</a></li>
        </ul>
    </nav>
    <table id="admin_table">
        <tr id="thead">
            <td>ID</td>
            <td>Név</td>
            <td>Osztály</td>
            <td>Email</td>
            <td>Összeg</td>
            <td>Itemek</td>
            <td>Átadva</td>
        </tr>
        {% for id, name, class, email, price in items %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ class }}</td>
            <td><a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ email }}">{{ email }}</a></td>
            <td>{{ price }} Ft</td>
            <td><button class="open_popup" onclick="openItemPopUp({{ id }})">Itemek</button></td>
            <td><input class="checkbox" type="checkbox" onclick="markDelivered({{ id }})"></td>
        </tr>
        {% endfor %}
    </table>
    <button class="save" onclick="saveTable()">
        Mentes
    </button>
    <div class="popup">
        <table>
            <tr id="thead">
                <td>Megnevezés</td>
                <td>Mennyiség</td>
                <td>Méret</td>
            </tr>
        </table>
        <button class="close">Bezaras</button>
    </div>


    <script src="{{ url_for('static', filename='/script/admin.js') }}"></script>
</body>
</html>