<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11 Arabok</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/arabok_icon.png" type="image/x-icon">
</head>
<body>

    <nav>
        <!-- https://www.finisher.co/lab/header/ -->
        <div class="nav_logo">
            <img id="nav_img" src="../static/images/arabok_icon.png" alt="">
            <div>
                <p>11.A</p>
                <p>Arabok</p>
            </div>
        </div>

        <div class="nav_options">
            <p>Fő oldal</p>
            <p><a href="../templates/tamogato_tanarok.html">Támogató tanáraink</a></p>
            <p><a href="../templates/modos_merch.html">Módos merch</a></p>
        </div>
    </nav>
    <div id="filling">

    </div>

    <section>

    </section>

    <script src="../static/script/script.js"></script>
</body>
</html>