<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Módos merch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modos.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/arabok_icon.png') }}" type="image/x-icon">
</head>
<body>

    <div class="telefon_menu">
        <p><a href="/">Támogató tanáraink</a></p>
        <p>Módos merch</p>
        <p><img class="xbutton" src="{{ url_for('static', filename='images/x.png') }}" alt=""></p>
    </div>
    <nav>
        <!-- https://www.finisher.co/lab/header/ -->
        <div class="nav_logo">
            <img class="nav_img" src="{{ url_for('static', filename='images/arabok_icon.png') }}" alt="">
            <div class="arabok11">
                <p class="a11">11.A</p>
                <p class="arabok">Arabok</p>
            </div>
        </div>

        <div class="nav_options">
            <p><a href="/">Támogató tanáraink</a></p>
            <p><a href="#">Módos merch</a></p>
            
        </div>
        <img class="hamburgermenu" src="{{ url_for('static', filename='images/ekcsöli hamburger.png') }}" alt="">
    </nav>

    
    <div class="cart">
        <img src="{{ url_for('static', filename='images/shopping cart.png') }}" alt="">
        <div id="counter"><p>0</p></div>
    </div>

    <div id="cart_popup">
        <div class="cart_popup_window">
            <div id="cart_opacitybackground">
                <div class="carted">

                </div>
            </div>
        </div>
    </div>


    <div class="popup">
        <div class="popup_window">
            <div class="opacitybackground">
            
            </div>
        </div>
    </div>

    <section>
        <h1 class="sectionh1">Ruházat</h1>
        <div class="cardgrid" id="ruha">

        </div>
    
        <h1 class="sectionh1" >Kellélek</h1>
        <div class="cardgrid" id="kellek">
    
        </div>

    </section>
    <script>
        const module = {}
    </script>
    <script type="module">
        import removeItem from "{{ url_for('static', filename='script/script.js') }}"
        module.removeItem = removeItem
    </script>
</body>
</html>