<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Támogatók</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/arabok_icon.png" type="image/x-icon">
</head>
<body>
    <div class="telefon_menu">
        <p><a href="../templates/index.html">Fő oldal</a></p>
        <p>Támogató tanáraink</p>
        <p><a href="../templates/modos_merch.html">Módos merch</a></p>
        <p><img class="xbutton" src="../static/images/x.png" alt=""></p>
    </div>

    <nav>
        <!-- https://www.finisher.co/lab/header/ -->
        <div class="nav_logo">
            <img class="nav_img" src="../static/images/arabok_icon.png" alt="">
            <div class="arabok11">
                <p class="a11">11.A</p>
                <p class="arabok">Arabok</p>
            </div>
            <img class="hamburgermenu" src="../static/images/ekcsöli hamburger.png" alt="">

        </div>

        <div class="nav_options">
            <p><a href="../templates/index.html">Főoldal</a></p>
            <p>Támogató tanáraink</p>
            <p><a href="../templates/modos_merch.html">Módos merch</a></p>
        </div>

    </nav>
    <div id="filling">

    </div>

    <div class="popup">
        <div class="popup_window">
            <div class="opacitybackground">
                <div class="tanarpopup">
                    <div class="tanarkep">
                        <img id="popup_ekcsölikep" src="" alt="">
                        <div class="courtain" alt=""></div>
                        <p class="tanarnev"></p>
                    </div>
                    <div class="tanardata">
                        <p class="funfact"></p>
                        <div><h1>Tanári: </h1> <span class="tanari"></span></div>
                        <div><h1>Zseton beváltható: </h1> <span class="jutalmak"></span></div>
                        <h1>Tanított osztályok:</h1>
                        <ul id="tanitott_osztalyok">
                        </ul>
                    </div>
                </div>
                <button class="close">Bezár</button>
            </div>
        </div>
    </div>


    <section>
    
        <!-- <div class="cardgrid">
            <div class="card">
                <img class="ekcsölikep" src="" alt="">
                <div class="courtain" alt=""></div>
                <div class="cardtext">
                    <h1 class="tanarnevcard"></h1>
                </div>
                <div class="cardbutton">
                    <button id="1"  class="open_popup"><h1>Info</h1></button>
                </div>
            </div>
        </div>

        <div class="cardgrid">
            <div class="card">
                <div class="ekcsölikep" alt=""></div>
                <div class="courtain" alt=""></div>
                <div class="cardtext">
                    <h1>Somjai László</h1>
                </div>
                <div class="cardbutton">
                    <button id="1"  class="open_popup"><h1>Info</h1></button>
                </div>
            </div>
        </div>

        <div class="cardgrid">
            <div class="card">
                <img class="ekcsölikep" src="" alt="">
                <div class="courtain" alt=""></div>
                <div class="cardtext">
                    <h1>Somjai László</h1>
                </div>
                <div class="cardbutton">
                    <button id="2"  class="open_popup"><h1>Info</h1></button>
                </div>
            </div>
        </div>

        <div class="cardgrid">
            <div class="card">
                <img class="ekcsölikep" src="" alt="">
                <div class="courtain" alt=""></div>
                <div class="cardtext">
                    <h1>Somjai László</h1>
                </div>
                <div class="cardbutton">
                    <button id="3"  class="open_popup" ><h1>Info</h1></button>
                </div>
            </div>
        </div>
        <div class="cardgrid">
            <div class="card">
                <img class="ekcsölikep" src="" alt="">
                <div class="courtain" alt=""></div>
                <div class="cardtext">
                    <h1>Somjai László</h1>
                </div>
                <div class="cardbutton">
                    <button id="4" class="open_popup"><h1>Info</h1></button>
                </div>
            </div>
        </div> -->

    </section>

    <script type="module" src="../static/script/script.js"></script>
</body>
</html>